.loader-animation {
  width: 12px;
  height: 12px;
  border: 1px solid red;
  margin-left: 10px;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ss-content {
  overflow-y: auto !important;
}

.ss-main {
  display: flex !important;
  width: 500px !important;
}
